.animation {
  margin: auto auto 2rem auto;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  &::after {
    content: "";
    width: 0.1875rem;
    height: 2rem;
    display: inline-block;
    animation: clignote 0.7s infinite linear;
  }
}

@keyframes clignote {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

