.carousel-item {
  &>div {
    height: 100%;
    &>.detail-image {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.carousel-inner {
  button {
    top: 20rem
  }
  h3 {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
  }

  .carousel-control-next {
    right: 0.75rem;
  }

  .carousel-control-prev {
    left: 0.75rem;
  }
}