.formation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  >div {
    width: 15%;
    >h3 {
    color: rgb(44, 21, 74);
      &::before {
        content: url(../../assets/images/check-mark-svgrepo-com.svg);
      }
    }
  }
}

@media screen and (max-width: 862px) {
  .formation {
    flex-direction: column;
    div {
      width: auto;
    }
  }
}