.header__nav {
  display: flex;
  justify-content: space-between;
  .header__link {
    font-size: 1rem;
    background-color: transparent;
    color: var(--violettext);
    min-width: max-content;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    border: solid 0.125rem var(--violetbg);
    box-shadow: 0 0 2px 0;
    &:hover {
      cursor: pointer;
      background-color: var(--transpVioletbg);
      color: white;
      border: solid 0.125rem transparent;
      box-shadow: 0 0 8px 0 white;
    }
  }
  .header__close-btn {
    display: none;
  }
  .header__open-btn {
    display: none;
  }
}

@media screen and (max-width: 862px) {
  .header__nav-container {
    .header__nav {
      display: flex;
      flex-direction: column;
      left: -150px;
      position: absolute;
      height: 100svh;
      top: 0;
      background: #2b2727;
      padding: 2rem 0;
      transition: left 0.5s ease;
      &.active {
        left: 0;
      }
      .header__close-btn {
        display: inline;
        background: transparent;
        text-align: center;
        color: #a39a9a;
        font-size: 1rem;
        margin: 2rem;
        border: none;
      }
      &:hover {
        border: none;
      }
      .header__link {
        box-shadow: none;
      }
      .header__link, .header__link:hover {
        font-size: 1rem;
        text-align: center;
        padding: 10px;
        border: none;
        color: white;
        box-shadow: none;
      }
      .header__open-btn.invisible {
        visibility: hidden;
      }
    }
    span {
      display: block;
      width: 35px;
      height: 5px;
      background-color: var(--violetbg);
      margin: 6px 0;
    }
  }
}
//END MEDIA QUERY



