.header-top-right {
  grid-area: 1/2;
  padding-left: 3.125rem;
}

.header-right {
  display: flex;
}



.header-right>p {
  max-width: 80%;
}

div.header-right > p:first-of-type {
  margin: 0;
}

img.avatar {
  margin: 2rem;
  clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  filter: grayscale(1);
}

.header-top-left {
  grid-area: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informations {
  display: flex;
}

.identite {
  width: 100%;
  padding: 1.25rem 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.right {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3.125rem;
}

div.presentation {
  font-size: 1.4rem;
  line-height: 2rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 862px) {
  img.avatar {
    display: none;
  }
}